/* styles.css */

VBox {
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-padding: 20;
}

Button {
    -fx-font-size: 14;
    -fx-min-width: 120;
    -fx-background-color: #00E413; /* Verde */
    -fx-text-fill: black; /* Texto negro */
}

Button:hover {
    -fx-background-color: #f50000; /* Cambia el color al pasar el ratón */
}

Button:pressed {
    -fx-background-color: #eb0505; /* Cambia el color al presionar el botón */
}

HBox {
    -fx-spacing: 10;
}
