/* styles.css */

VBox {
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-padding: 20;
}

Button {
    -fx-font-size: 14;
    -fx-min-width: 120;
    -fx-background-color: #4CAF50; /* Verde */
    -fx-text-fill: white; /* Texto blanco */
}

Button:hover {
    -fx-background-color: #45a049; /* Cambia el color al pasar el ratón */
}

Label {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

HBox {
    -fx-spacing: 10;
}
